@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    
        margin: 0;
        padding: 0;
    
}
html{
    width: 100%;
    height:116em;
}
body{
    width: 100%;
    height: 100%;
    
    background: #111458;
    /* background-position: center center; */
    background-repeat: no-repeat;
}

.surprisePopup{
    position: fixed;
    top: 9%;
    left: 29%;
    /* transform: translate(-50%, 50%); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 41vw;
    height: 87vh;
    /* background: red; */
    z-index: 1000;
    background-color: #6d67677d;
    border: solid 1px white;
    border-radius: 13px;
}

#photosurprisePop{
    /* background: green; */
    width: 76%;
    height: 72%;
    background-size: cover;
    background-position: center, center;
    border-radius: 12px;
}


#closesurprisePop{
    display: flex;
    width: 100%;
    height: auto;
}

.close-btn{
    margin-left: auto;
    width: 1em;
    font-size: 3em;
    /* align-items: center; */
    text-align: center;
    color: white;
}
#messagesurprisePop{
    font-size: 3em;
    color: #16ffa2;
    font-family: 'Allura', cursive;
    font-weight: 600;
}

.hidden {
    display: none;
  }

body.blurred {
    filter: blur(5px); /* Apply blur effect to the background */
    overflow: hidden; /* Prevent scrolling when popup is open */
} 
  
  
main{
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar {
    width: 7px; 
}


body::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 0;
    background-color: rgba(227, 208, 208, 0.269); 
    backdrop-filter: blur(5px);

}


body::-webkit-scrollbar-thumb {
    background-color: #179ae1; 
    border-radius: 7px;
    /* border: 2px solid #f1f1f1;  */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color when hovering */
}


nav{
    background-color: hsl(0deg 0% 100% / 10%);
    width: 92%;
    height: 4rem;
    position: fixed;
    z-index: 20;
    border-radius: 3rem;
    left: 4%;
    top: 2%;
    backdrop-filter: blur(9px);
    display: flex;
    justify-content: space-around;
    gap: 30%;

}
.logo{
    display: flex;
    align-items: center;
}
#ang-logo{
    width: 9rem;
    height: 3.5rem;
    align-self: flex-end;
}
#cake{
    width: 3rem;
    height: 3rem;
    align-self: center;
}
.options{
    display: flex;
    align-items: center;
}
.options ul{
    list-style: none;
    display: flex;
      gap: 2.5rem;}

.options  li{
    font-size: 2em;
    font-family: "Allura", cursive;
    font-weight: 700;
}
.options a{
    text-decoration: none;
    color: rgb(240, 228, 228);
}
.options a:hover{
    text-decoration: none;
    color: rgb(128, 126, 126);
}
.inner-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background: rebeccapurple; */
    width: 80%;
    height: auto;
    gap: 3em;
    /* align-items: center; */
    padding: 3em;
    position: absolute;
    left: 7%;
    top: 10em;
    gap: 5em;
}
.video-container {
    height: 27em;
    width: 48em;
    /* display: flex; */
    overflow: hidden;
    max-width: 48em;
    max-height: 85%;
    background: #000;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 2px white;
}
.video-container iframe {
    width: 100%;
    height: 100%;
}

.surprise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.giftlines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.giftpage-welcome{
    font-family: 'Allura', cursive;
    font-size: 6em;
    color: white;
    font-weight: 600;
}
.giftpage-welcome-second{
    font-family: 'Allura', cursive;
    font-size: 4em;
    color: white;
    font-weight: 600;
}
.giftpage-welcome-third{
    font-family: 'Allura', cursive;
    font-size: 2.2em;
    color: white;
    font-weight: 600;
    text-align: center;
}


/* ---------------------------------- */

.giftpage-gift {
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .flip-container {
    perspective: 1000px;
    width: 19em;
    height: 17em;
    cursor: pointer;
  }
  
  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-family: 'poppins', sans-serif;
    color: #d8d2d2;
    font-weight: 500;
    border-radius: 20px;
  }
  
  .front {
    background-color: #0983ac;
    border: solid 2px #cfabab;
  }
  
  .back {
   
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    box-shadow: 0 0 20px 0px aqua;
}


.clicked .flipper {
    transform: rotateY(180deg);
  }
  
  .blocked {
    pointer-events: none; /* Prevents clicking */
  }

  /* -------------------------------------------------------------------------------- */

footer{
    position: absolute;
    /* top: 201rem; */
    background: #110f42;
    /* bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    color: #c8c5c5;
    font-size: 15px;
    padding: 13px 0 12px 0;
    font-family: 'poppins', sans-serif;
}

.love{
    display: flex;
    gap: 11px;
    justify-content: center;
}